[submodule "third-party/rapidjson"]
	path = third-party/rapidjson
	url = https://github.com/tencent/rapidjson
[submodule "third-party/pistache"]
	path = third-party/pistache
	url = https://github.com/oktal/pistache
